:root {
    --color-bg: #B66D0D;
    --color-text: #001011;
    --color-primary: #2176AE;
    --color-secondary: #57B8FF;
    --color-warning: #FE6847;
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-text: #B1B6A6;
    --color-primary: #363946;
    --color-secondary: #696773;
    --color-warning: #F5D7E3;
} 