.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-primary);
    li {
        float: left;
        display: inline;
        a {
            display: block;
            padding: 8px;
            color: var(--color-text);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
}

.link {
    a:hover {
        background-color: var(--color-secondary);
    }
}

.right {
    float: right !important;
}
